</head>

<body>
    <nav class="navbar navbar-expand-lg background sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="https://www.dlf.pt/dfpng/middlepng/540-5403008_child-icon-blue-blue-children-icon-png-transparent.png" alt="" width="30" height="24">
            </a>

            <a class="navbar-brand textcolor" href="/">Company</a>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link textcolor active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link textcolor" href="/services">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link textcolor" href="/help">Help</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link textcolor" href="/contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>