{{>head}}
<title textcolor1>Company | Help</title>
{{>navbar}}
<div class="container-fluid d-flex">
    {{#each data}}
        <div class="card m-2" style="width: 18rem;">
            <img src="https://images.pexels.com/photos/35537/child-children-girl-happy.jpg" class="card-img-top"
                alt="...">
            <div class="card-body">
                <h5 class="card-title textcolor1">Card title</h5>
                <p class="card-text textcolor2">Some quick example text to build on the card title and make up the bulk
                    of the
                    card's content.</p>
                <a href="#" class="btn heading">Help this Kid</a>
            </div>
        </div>
    {{/each}}   
</div>
{{>footer}}