{{>head}}
<title>Company | Register</title>
{{>navbar}}
<div class="container">
    <div class="card my-2 text-center heading fs-3" style="padding: 1px !important;">
        <div class="card-body">
            Register as NGO
        </div>
    </div>
    <form>
        <div class="row">
            <div class="mb-3 col-md-12">
                <label class="form-label">Name of NGO</label>
                <input type="text" class="form-control" id="namengo" name="namengo">
            </div>
        </div>
        <div class="row">
            <div class="mb-3 col-md-12">
                <label class="form-label">Location</label>
                <input type="text" class="form-control" id="location" name="location">
            </div>
        </div>
        <div class="row">
            <div class="mb-3 col-md-4">
                <label class="form-label">Name of Head</label>
                <input type="text" class="form-control" id="nameofhead" name="nameofhead">
            </div>
            <div class="mb-3 col-md-4">
                <label class="form-label">Speciality</label>
                <input type="text" class="form-control" id="speciality" name="speciality">
            </div>
            <div class="mb-3 col-md-4">
                <label class="form-label">Email</label>
                <input type="eamil" class="form-control" id="email" name="email">
            </div>
        </div>
        <div class="row">
            <div class="mb-3 col-md-6">
                <label class="form-label">Username</label>
                <input type="email" class="form-control" id="username" name="username">
            </div>
            <div class="mb-3 col-md-6">
                <label class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password">
            </div>
        </div>
        <div class="row">
            <div class="mb-3 col-md-12">
                <div class="mb-3">
                    <label class="form-label">Attach your Profile Photo</label>
                    <input class="form-control" type="file" id="photo">
                </div>
            </div>
        </div>
    </form>
    <button type="submit" class="btn heading">Register</button>
    </form>
</div>
{{>footer}}