{{>head}}
<title>Company | Register</title>
{{>navbar}}
<div class="container">
    <div class="card my-2 text-center heading fs-3" style="padding: 1px !important;">
        <div class="card-body">
            Register a Child
        </div>
    </div>
    <form>
        <div class="row">
            <div class="mb-3 col-md-6">
                <label class="form-label">Name</label>
                <input type="email" class="form-control" id="name" name="name">
            </div>
            <div class="mb-3 col-md-6">
                <label class="form-label">Age</label>
                <input type="text" class="form-control" id="age" name="age">
            </div>
        </div>
        <div class="row">
            <div class="mb-3 col-md-6">
                <label class="form-label">Father's Name</label>
                <input type="text" class="form-control" id="fathername" name="fathername">
            </div>
            <div class="mb-3 col-md-6">
                <label class="form-label">Mother's Name</label>
                <input type="text" class="form-control" id="mothername" name="mothername">
            </div>
        </div>
        <div class="row">
            <div class="mb-3 col-md-12">
                <label class="form-label">Location</label>
                <input type="text" class="form-control" id="location" name="location">
            </div>
        </div>
        <div class="row">
            <div class="mb-3 col-md-12">
                <label class="form-label">Special Skills</label>
                <input type="text" class="form-control" id="skills" name="skills">
            </div>
        </div>
        <div class="row">
            <div class="mb-3 col-md-12">
                <label class="form-label">Needs</label>
                <input type="text" class="form-control" id="needs" name="needs">
            </div>
        </div>
    </form>
    <button type="submit" class="btn heading">Submit</button>
    </form>
</div>
{{>footer}}